# Created by .ignore support plugin (hsz.mobi)
configuracion/local_settings.py
dbsqlite

*/migrations/0*
descargas/*
*.pyc
static/imagenes/usuarios/*.jpg
static/media/noticias/*.jpg
static/media/noticias/*.png
static/media/noticias/*.tif
static/media/archivos/*
!static/media/archivos/__init__.py
static/media/documentos/*
!static/media/documentos/__init__.py

static/media/galeria/*
!static/media/galeria/__init__.py

static/media/imagenes/inmuebles_fullscreem/*
!static/media/imagenes/inmuebles_fullscreem/__init__.py

static/media/imagenes/inmuebles_original/*
!static/media/imagenes/inmuebles_original/__init__.py

static/media/imagenes/inmuebles_miniatura/*
!static/media/imagenes/inmuebles_miniatura/__init__.py

static/media/imagenes/inmuebles_slider/*
!static/media/imagenes/inmuebles_slider/__init__.py

static/media/uploads/*
!static/media/uploads/__init__.py

.idea
.idea/*