{% extends "cabecera.html" %}
{% load bootstrap %}



    {% block wrapper %}





    <div class="container">

      <form class="login-form" action="{% url 'recuperar_contrasena' %}" method="post">{% csrf_token %}
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            {%if men %}
            <label >{{men}}</label>
            {%endif%}
            <div class="input-group">


            </div>

            <a  href="{% url 'recuperar_contrasena' %}" class="btn btn-primary btn-lg btn-block" >Volver</a>

        </div>
      </form>

    </div>
{% endblock %}



