{% extends "principal.html" %}


{% block extracss %}
    <!-- Page-Level Plugin CSS - Tables -->
    <link href="{{ STATIC_URL }}css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block content %}
        <!-- /.row -->
        <div class="row">
                <div class="col-lg-12">
                    <div class="panel">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="{% url 'tipos_usuario_create' %} " class="btn btn-success"><i class="fa fa-plus-circle fa-fw"></i> Añadir</a>
                            </div>
                            </div>
                        </div>
                </div>
                <div class="col-lg-12">
                    <section class="panel">
                        <div class=" panel-secondary">
                            <div class="panel-heading">
                                <i class="fa fa-user fa-fw"></i> Tipos de usuario del sistema
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        {% if tipos %}
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover table-striped" id="alumno-list">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Nombre</th>
                                                        <th>Opciones</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for a in tipos %}
                                                        <tr>
                                                            <td class="">{{ forloop.counter }}</td>
                                                            <td class="">{{ a.nombre }}</td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <a class="btn btn-warning" href="{%url 'tipos_usuario_edit' a.pk%}">
                                                                        <i class="fa fa-edit"></i>
                                                                    </a>
                                                                    <a class="btn btn-danger" href="">
                                                                        <i class="icon_close_alt2"></i>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                        {% else %}
                                            <p>No hay Tipos. Registrelos <a href="">aquí</a>.</p>
                                        {% endif %}
                                    </div>

                                    <!-- /.col-lg-8 (nested) -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </section>

                </div>
        </div>
{% endblock %}

        {% block extrajs %}
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#alumno-list').dataTable({
            "oLanguage": {
			    "sUrl": "{{ STATIC_URL }}datatables/i18n/es_ES.txt"
		    }

        });
    });
    </script>
{% endblock %}