{% extends "principal.html" %}
{% load bootstrap %}

{% block content %}
        <!-- /.row -->
        <div class="row">
                <div class="col-lg-12">

                    <div class="panel panel-secondary">
                        <div class="panel-heading">
                            <i class="fa fa-user fa-fw"></i> Editar Usuario
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                   <form class="form-signin" action="{% url 'usuario_edit' usuario.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}

                                        {{ usuarioform | bootstrap }}
                                        <a href="{% url 'administradores_list' %}" class="btn btn-warning"><i class="fa fa-arrow-left fa-fw"></i> Atrás</a>
                                        <button id="submit" name="submit" class="btn btn-primary" type="submit" value="Añadir" ><i class="fa fa-save fa-fw"></i> Guardar</button>
                                    </form>

                                </div>

                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
        </div>
{% endblock %}
{% block extrajs %}


{% endblock %}